@page
@model DimsASP.NET_Core_Distroboot.Pages.Distros.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Distro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distro.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distro.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distro.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distro.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distro.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distro.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distro.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distro.Size)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Distro?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
